@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font: "Open Sans", sans-serif;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-weight: bold;
    font-size: max(32px, 4vw);
    line-height: max(44px, 5vw);
    color: hsl(var(--primary));
  }
  h2 {
    font-weight: bold;
    font-size: max(24px, 3vw);
    line-height: max(32px, 4vw);
  }
  h4 {
    font-weight: bold;
    font-size: max(16px, 2vw);
    line-height: max(24px, 3vw);
  }
  h5 {
    font-weight: bold;
    line-height: max(24px, 3vw);
  }
  a:hover {
    opacity: 0.75;
  }
  a:active {
    opacity: 0.75;
  }
  li {
    list-style-type: circle;
    margin-left: 5vh;
    text-align: left;
  }
  button:active {
    opacity: 0.5;
  }

  .nav-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    padding: 5vh 0vh 5vh 0;
    gap: 4vw;
  }
  .nav-section > * {
    flex: 1;
    min-width: 300px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    align-items: center;
    justify-content: center;
    padding: 20vh 0vh 20vh 0;
  }
  .cards > * {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
    height: 300px;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 3rem 2rem 3rem;
    gap: 5vw;
  }
  .footer > * {
    margin: 0.5rem 0 0.5rem 0;
    font-weight: lighter !important;
    font-size: small;
  }
  .footer > a {
    cursor: pointer;
  }
}
